{% extends 'clients_search_paginator.html' %}
{% load staticfiles %}

{% block search_data %}
<script>
jQuery(document).ready(function($) {
  $(".clickable-row").click(function(e) {
    window.location.href = "/client/search_response/" + $(this).children('td')[0].innerHTML + "/";
  });
});
</script>

<table class="table table-hover table-striped table-condensed">
 <thead>
  <tr style="background: #aaa;">
<!--   <th class="text-danger" style="vertical-align: top;">VECAIS-ID</th> -->
   <th style="vertical-align: top;">ID</th>
   <th style="vertical-align: top;">Vārds</th>
   <th style="vertical-align: top;">Uzvārds</th>
   <th style="vertical-align: top;">Dzimšanas datums</th>

   <th colspan="2" style="vertical-align: top;">Status</th>

   <th style="vertical-align: top;">E-pasts</th>
   <th style="vertical-align: top;">Tālrunis</th>
  </tr>
 </thead>
 <tbody>
{% for c in results %}
  <tr class="clickable-row">
<!--   <td class="text-danger">{{ c.s3_nr }}</td> -->
   <td>{{ c.id }}</td>
   <td>{{ c.name }}</td>
   <td>{{ c.surname }}</td>
   <td>{% if c.birthday != None %}{{ c.birthday }}{% endif %}</td>

   <td>{{ c.status }}</td>
   <td>{% if c.society == True %}<b>Biedrība</b>{% endif %}</td>

   <td>{{ c.e_mail }}</td>
   <td>{{ c.phone }}</td>
  </tr>
{% endfor %}
 </tbody>
</table>
{% endblock %}
