{% extends 'main_head.html' %}
{% load staticfiles %}

{% block edit_client %}
<div id="hider"></div>

<script>
jQuery(document).ready(function($) {
 // IMAGE ADD BUTTON
 $("#avatar").click(function (){
   $(this).parent().find("input").click();
 });

 // ESC keypress event
 $(document).keyup(function (e) {
  // ESC 27
  if ( e.keyCode === 27 ) {
    cancel();
  }
 });
});

// IMAGE PREVIEW
function readURL(input, display) {
  if (input.files && input.files[0]) {
    var reader = new FileReader();
    reader.onload = function (e) {
      $("#" + display)
        .attr("src", e.target.result);
      };
//    $("#" + display).css("display", "block");
    reader.readAsDataURL(input.files[0]);
  }
};

// ===========================================================
var card_string = "{{ card_string }}";
var temp_string = ""; var char_count = 0; var card_start = false;

$(document).keypress(function (e) {
  var symb = String.fromCharCode(e.which);

  if ($(e.target).is('input')) {
    if(event.keyCode == 13) {
      if (e.target.id != "yes") {
        event.preventDefault();
        return false;
      }
    }
  }

  if (card_start == true) {
    if (symb != "?") { temp_string += symb; char_count++; event.preventDefault(); }
//    if (char_count != 7) { temp_string += symb; char_count++; event.preventDefault(); }
    else {
      document.getElementsByName('card_nr')[0].value = temp_string;
      temp_string = ""; char_count = 0; card_start = false;
      event.preventDefault();
    }
  } else {

    if (card_string[char_count] == symb) {
      temp_string += symb;

      if (card_string == temp_string) {
        temp_string = ""; char_count = 0; card_start = true;
      }
        event.preventDefault();
        char_count++;
      } else {
        char_count = 0; temp_string = "";
      }
    }
});
</script>

<div style="display: none;">
  <form id="blacklist_remove" action="/client/blacklist/remove/" method=POST>{% csrf_token %}
  </form>
</div>

<!-- Blacklist Modal START -->
<div class="modal fade" id="BlacklistModal" tabindex="-1" role="dialog" aria-hidden="true">
<div class="modal-dialog" style="margin-top: 100px"><div class="modal-content">
<div class="modal-header">
 <h3 style="margin-top:5px; margin-bottom:5px;"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>&nbsp;Klienta bloķēšanas iemesls!</h3>
</div>
<div class="modal-body">
 <center>
  <form action="/client/blacklist/add/" method=POST>{% csrf_token %}
   <textarea class="form-control" cols="40" maxlength="150" name="blacklist_reason" rows="2" style="resize:none;"></textarea>
 </center>
</div>
<div class="modal-footer">
 <input class="btn btn-danger" type="submit" value="Pievienot personu melnajam sarakstam">
 <button id="checkot_cancel" type="button" class="btn btn-success" data-dismiss="modal">Atcelt</button>
</form>
</div></div></div></div>
<!-- Blacklist Modal END -->


{% if client.client_blocked == True %}
<div class="alert alert-danger">
 <center><span class="glyphicon glyphicon-ban-circle" aria-hidden="true"> </span><strong> Klients ir bloķēts un atrodas melnajā sarakstā!</strong></center>
 <table class="table table-hover table-striped table-condensed" style="margin-bottom: 0px;">
 <thead>
  <tr style="background: #aaa;">
   <th style="vertical-align: top;">Datums</th>
   <th style="vertical-align: top;">Iemesls</th>
  </tr>
 </thead>
 <tbody>
{% for b in bl_data %}
  <tr class="clickable-row">
   <td>{{ b.bl_date }}</td>
   <td>{{ b.bl_data }}</td>
  </tr>
{% endfor %}
 </tbody>
</table>
</div>
{% endif %}

<form action="/client/edit/" method=POST enctype="multipart/form-data">{% csrf_token %}
<div class="row">
  <div class="col-sm-4 col-md-4 col-lg-4">
   <center>
    {% if client.avatar != "" %}
    <img id="avatar" src="/media/{{ client.avatar }}" style="margin-top: 30px;"/>
    {% else %}
    <img id="avatar" src="{% static 'avatar_none.png' %}" style="margin-top: 30px;"/>
    {% endif %}
    <input id="id_avatar" type="file" name="avatar" style="display: none" onchange="readURL(this, 'avatar');" style="margin-top: 30px;"/>
   </center>
  </div>

  <div class="col-sm-4 col-md-4 col-lg-4">
   <div class="form-group" style="margin-bottom: 5px;">
    <label id="id_name" for="{{ form.name.id_for_label }}">Vārds:</label>
     {{ form.name }}
     {{ form.name.errors }}
   </div>
   <div class="form-group" style="margin-bottom: 5px;">
    <label id="id_surname" for="{{ form.surname.id_for_label }}">Uzvārds:</label>
     {{ form.surname }}
     {{ form.surname.errors }}
   </div>
   <div class="form-group" style="margin-bottom: 5px;">
    <label id="id_birthday" for="{{ form.birthday.id_for_label }}">Dzimšanas datums:</label>
     {{ form.birthday }}
     {{ form.birthday.errors }}
   </div>
   <div class="form-group" style="margin-bottom: 5px;">
    <label id="id_phone" for="{{ form.phone.id_for_label }}">Tālruņa nummurs:</label>
     {{ form.phone }}
     {{ form.phone.errors }}
   </div>
   <div class="form-group" style="margin-bottom: 5px;">
     <label id="id_e_mail" for="{{ form.e_mail.id_for_label }}">e-pasts:</label>
     {{ form.e_mail }}
     {{ form.e_mail.errors }}
  </div>

<script>
function blacklistID() {
 {% if client.client_blocked == False %}
   $("#BlacklistModal").modal('show');
 {% else %}
//   alert("klients tika izņemts no melnā saraksta");
   document.getElementById("blacklist_remove").submit();
 {% endif %}
}

function blockCard() {
 alert("klienta karte tiek bloķēta !!!")
}
</script>

  </div>
  <div class="col-sm-4 col-md-4 col-lg-4">
   <div class="form-group" style="margin-bottom: 5px;">
    <label id="id_reg_date" for="id_reg_date">Klienta ID:</label>
    <div class="input-group">
      <input class="form-control" id="id_id" name="reg_date" readonly="readonly" type="text" value="{{ client.id }}" />
      <span class="input-group-btn">
        <button class="btn btn-danger" type="button" onclick="blacklistID();">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
      </span>
    </div>
   </div>
   <div class="form-group" style="margin-bottom: 5px;">
    <label id="id_card_nr" for="{{ form.card_nr.id_for_label }}">Klienta kartes numurs:</label>
<!--    <div class="input-group"> -->
     {{ form.card_nr }}
<!--      <span class="input-group-btn">
        <button class="btn btn-danger" type="button" onclick="blockCard();">Bloķēt Karti -->
<!--        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> -->
<!--        </button>
      </span> -->
<!--    </div> -->
     {{ form.card_nr.errors }}
   </div>
  </div>

  <div class="col-sm-3 col-md-3 col-lg-3">
   <div class="form-group" style="margin-bottom: 5px;">
    <label id="id_status" for="{{ form.status.id_for_label }}">Statuss:</label>
    {{ form.status }}
    {{ form.status.errors }}
   </div>
  </div>

  <div class="col-sm-1 col-md-1 col-lg-1">
   <div class="form-group" style="margin-bottom: 5px;">
    <label id="id_society" for="{{ form.society.id_for_label }}" style="margin-bottom: 1px;">Biedrība:</label>
    {{ form.society }}
    {{ form.society.errors }}
   </div>
  </div>

  <div class="col-sm-4 col-md-4 col-lg-4">
   <div class="form-group" style="margin-bottom: 5px;">
    <label id="id_gender" for="{{ form.sex.id_for_label }}">Dzimums:</label>
    {{ form.gender }}
    {{ form.gender.errors }}
   </div>
   <div class="form-group" style="margin-bottom: 5px;">
    <label id="id_reg_date" for="{{ form.reg_date.id_for_label }}">Reģistrācijas datums:</label>
    {{ form.reg_date }}
    {{ form.reg_date.errors }}
   </div>
  </div>
</div>


<div class="row">
<!-- KOLONA 1 -->
  <div class="col-sm-4 col-md-4 col-lg-4" style="margin-top: 10px;">
   <div class="form-group" style="margin-bottom: 5px;">
    <label id="id_status">Aktīvais abonements:</label>
<!--    <textarea class="form-control" cols="40" id="id_subscripton" name="subscripton" rows="2" style="resize:none;" readonly="readonly">Aktīva abonementa nav</textarea> -->
    <input class="form-control" type="text" id="id_subscripton" name="subscripton" readonly="readonly">
   </div>
   <div class="form-group" style="margin-bottom: 5px;">
    <label id="id_status">Apdrošināšanas polise:</label>
    <input class="form-control" type="text" id="id_insurance" name="insurance" readonly="readonly">
   </div>
  </div>

<!-- KOLONA 2 -->
  <div class="col-sm-8 col-md-8 col-lg-8" style="margin-top: 25px;">

<!-- KOLONA 2 RINDA 1 -->
   <div class="row" style="margin-top: 10px;">
    <div class="col-sm-4 col-md-4 col-lg-4">
     <a href="/subscription/history/">
      <button type="button" class="btn btn-info" style="min-width: 200px; max-width: 200px;">Abonementu vēsture</button>
     </a>
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2">
     <a href="/subscription/edit/"><button type="button" class="btn btn-success" style="min-width: 100px; max-width: 100px;">Pirkt</button></a>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6">
     <a href="/subscription_freeze/"><button type="button" class="btn btn-success pull-right">Abonemeta iesaldēšana</button></a>
    </div>
   </div>

<!-- KOLONA 2 RINDA 2 -->
   <div class="row">
    <div class="col-sm-4 col-md-4 col-lg-4" style="margin-top: 30px;">
     <a href="#"><button type="button" class="btn btn-info" style="min-width: 200px; max-width: 200px;">Apdrošināšanas vēsture</button></a>
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2" style="margin-top: 30px;">
     <a href="#"><button type="button" class="btn btn-success" style="min-width: 100px; max-width: 100px;">Reģistrēt</button></a>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3" style="margin-top: 12px;">
     <div class="form-group text-right" style="margin-bottom: 0px;">
      <label id="id_frozen_subscription">Iesaldētā summa:</label>
     </div>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3" style="margin-top: 7px;">
     <input class="form-control" type="text" id="id_frozen_subscription" name="frozen_subscription" readonly="readonly">
    </div>

   </div>
  </div>
</div>


<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12" style="margin-top: 10px;">
    <div class="form-group" style="margin-bottom: 5px;">
     <label id="id_notes" for="{{ form.notes.id_for_label }}">Piezīmes:</label>
     {{ form.notes }}
     {{ form.notes.errors }}
   </div>
  </div>
</div>


<script>
var countdown;
var duration = 14;
function submit_changes() {
  clearInterval(countdown);
  document.querySelector("#yes").value = "Izmaiņas tiek apstiprinātas";
}
function cancel() {
  $("#cancel_btn").prop('disabled', 'disabled');
  $("#ok_btn").removeAttr('disabled');
  $("#yes").hide();
  $("#exit").show();
  clearInterval(countdown);
  cancelTimer();
}
function apply() {
  $("#yes").show();
  $("#exit").hide();
  $("#ok_btn").prop('disabled', 'disabled');
  $("#cancel_btn").removeAttr('disabled');
  clearInterval(countdown);
  applyTimer();
}

function applyTimer() {
  display = document.querySelector("#yes");
  display.focus();
  display.value ="Apstiprināt izmaiņas ? (15)";
  var timer = duration, seconds = 15;
  countdown = setInterval( function () {
    seconds = parseInt(timer % 60, 10);
    display.value = "Apstiprināt izmaiņas ? (" + seconds + ")"; --timer;
    if (1 > seconds) {
      $("#yes").hide();
      $("#ok_btn").removeAttr('disabled');
      clearInterval(countdown);
      document.getElementById("ok_btn").focus();
    }
  }
  , 1000);
}
function cancelTimer() {
  display = document.querySelector("#exit");
  document.getElementById("cancel_link").focus();
  display.value ="Tiešām atcelt ? (15)";
  var timer = duration, seconds = 15;
  countdown = setInterval( function () {
    seconds = parseInt(timer % 60, 10);
    display.value = "Tiešām atcelt ? (" + seconds + ")"; --timer;
    if (1 > seconds) {
      $("#exit").hide();
      $("#cancel_btn").removeAttr('disabled');
      clearInterval(countdown);
      document.getElementById("ok_btn").focus();
    }
  }
  , 1000);
}
</script>


<div class="row">
  <div class="col-sm-6 col-md-6 col-lg-6 text-left" style="margin-top: 10px;">
     <a id="cancel_link" href="/"><input class="btn btn-danger" value="Tiešām atcelt ? (15)" style="display: none;" id="exit"></a>
     <input class="btn btn-success" type="submit" value="Apstiprināt izmaiņas ? (15)" style="display: none;" id="yes" onclick="submit_changes();">
  </div>
  <div class="col-sm-6 col-md-6 col-lg-6 text-right" style="margin-top: 10px;">
     <button type="button" id="ok_btn" class="btn btn-success" onclick="apply();">Saglabāt</button>
     <button type="button" id="cancel_btn" class="btn btn-danger" data-dismiss="modal" onclick="cancel();">Atcelt</button>
  </div>
</div>

</form>
{% endblock %}
