{% extends 'main_head.html' %}
{% load staticfiles %}

{% block javascript %}
<script type="text/javascript" src="{% static 'bootstrap/js/datepicker.js' %}"></script>
<link rel="stylesheet" href="{% static 'bootstrap/css/datepicker.css' %}"/>
{% endblock %}

{% block freeze_subscription %}
<div id="hider"></div>

<script>
jQuery(document).ready(function($) {
  $(document).keyup(function (e) {
    // ESC 27
    if ( e.keyCode === 27 ) {
      window.location.href = "/client/edit/";
    }
  });
});
</script>

<h3>Abonementu iesaldēšana</h3>

<!-- FUNKCIONĀLS NAV -->

<form id="freeze_form" action="/subscription_freeze/" method=POST>{% csrf_token %}
<div class="row">

<hr style="border-top: 1px solid green;">

 <div class="row alert alert-danger" role="alert" style="padding-top: 0px; padding-botom: 0px; ">
  <div class="col-lg-2 col-md-2 col-sm-2"  style="margin-top: 30px;">
   <center><h3 style="margin-top: 14px; margin-bottom: 2px;"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span></h3></center>
  </div>
  <div class="col-lg-10 col-md-10 col-sm-10" style="margin-top: 10px;">
   <h5><strong><center>Uz doto momentu vienīgais ierobežojums ir uz "Iesaldēt līdz"!</center></strong></h5>
   <h5><strong><center>Atcelt iesaldi klientam pagaidām nav iespējams, ja ir vajadzība - zvans, vai e-pasts Aleksandram</center></strong></h5>
   <h5><strong><center>Atcelšanas iespēja ir saistīta ar atpakaļejošiem datumiem... Rīt būs...</center></strong></h5>
  </div>
 </div>

<hr style="border-top: 1px solid green;">

 <div  class="col-lg-8 col-md-8 col-sm-8">
  <h3>klients: {{ client }}</h3><br>

{% if client.frozen == True %}<h4 class="text-danger">Aktīva ieslalde: Jā</h4>{% endif %}
{% if client.frozen == False %}<h4>Aktīva ieslalde: Nav</h4>{% endif %}

{% if client.frozen_from != None %}<h4>Ieslalde no: {{ client.frozen_from }}</h4>{% endif %}
{% if client.frozen_until != None %}<h4>Ieslalde līdz: {{ client.frozen_until }}</h4>{% endif %}
{% if days %}<h3 class="text-danger">abonementi pagarināti par {{ days }} dienām</h3>{% endif %}

 </div>
 <div  class="col-lg-4 col-md-4 col-sm-4"></div>

</div>

<div class="row" style="margin-top: 30px;">
<hr style="border-top: 1px solid green;">
 <div  class="col-lg-6 col-md-6 col-sm-6">
  <div class="form-group" style="margin-bottom: 5px;">
   <label>Iesaldēt no: <b class="text-danger">(šodiena: {{ today|date:"Y-m-d" }})</b></label>
{% if start_error %}<br><b class="text-danger">Datuma formāts ievadīts nekorekti!</b>{% endif %}
   <input class="form-control" id="id_freeze_start" maxlength="10" name="freeze_start" size="10" type="text" placeholder="GGGG-MM-DD">
  </div>

  <div class="form-group" style="margin-bottom: 5px;">
   <label>Iesaldēt līdz: <b class="text-danger">(vēlākais: {{ max_date|date:"Y-m-d" }})</b></label>
{% if end_error %}<br><b class="text-danger">Datuma formāts ievadīts nekorekti!</b>{% endif %}
{% if end_limit %}<br><b class="text-danger">Datums ievadīts vēlāk nekā beidzās abonementu darbība!</b>{% endif %}
   <input class="form-control" id="id_freeze_end" maxlength="10" name="freeze_end" size="10" type="text" placeholder="GGGG-MM-DD">
  </div>
 </div>
 <div  class="col-lg-6 col-md-6 col-sm-6"></div>


</div>

<script>
$(document).ready(function(){ var date_input=$('input[name="freeze_start"]');
 var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
 var options={ format: 'yyyy-mm-dd', container: container, todayHighlight: true, autoclose: true, weekStart: 1, };
 date_input.datepicker(options); })
$(document).ready(function(){ var date_input=$('input[name="freeze_end"]');
 var container=$('.form-group form').length>0 ? $('.bootstrap-iso form').parent() : "body";
 var options={ format: 'yyyy-mm-dd', container: container, todayHighlight: true, autoclose: true, weekStart: 1, };
 date_input.datepicker(options); })
</script>

<script>
var countdown;
var duration = 14;
function submit_changes() {
  clearInterval(countdown);
  $("#yes").prop('disabled', 'disabled');
  document.querySelector("#yes").value = "Notiek apstrāde...";
  $("#freeze_form").submit()
}
function apply() {
  $("#yes").show();
  $("#ok_btn").hide();
  clearInterval(countdown);
  applyTimer();
}
function applyTimer() {
  display = document.querySelector("#yes");
  display.focus();
  display.value ="Iesaldēt ? (15)";
  var timer = duration, seconds = 15;
  countdown = setInterval( function () {
    seconds = parseInt(timer % 60, 10); 
    display.value = "Iesaldēt ? (" + seconds + ")"; --timer;
    if (1 > seconds) {
      $("#yes").hide();
      $("#ok_btn").show();
      clearInterval(countdown);
      document.getElementById("ok_btn").focus();
    }
  }
  , 1000);
}
</script>

<div class="row text-right" style="margin-top: 30px;">

<hr style="border-top: 1px solid green;">

 <input type="button" class="btn btn-success pull-left" value="Iesaldēt ? (15)" style="display: none;" id="yes" onclick="submit_changes();">
 <button type="button" class="btn btn-success" style="min-width: 150px; max-width: 150px;" onclick="apply();" id="ok_btn">Iesaldēt</button>
 <a href="/client/edit/"><button type="button" class="btn btn-danger" style="min-width: 150px; max-width: 150px;">Atcelt</button></a> 
</div>
</form>

{% endblock %}
