{% extends 'main_head.html' %}
{% load staticfiles %}
{% block subscription %}
<div id="hider"></div>

<h3>Abonementu vēsture</h3>

<a href="/client/edit/"><button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-backward" aria-hidden="true"> </span> &nbsp;Atpakaļ</button></a>

<script>
jQuery(document).ready(function($) {
// ESC keypress event
 $(document).keyup(function (e) {
  // ESC 27
  if ( e.keyCode === 27 ) {
    window.location.href = "/client/edit/";
  }
 });
});
</script>

{% if no_data %}
<br>
<center><h2>Datu par klienta abonementu vēsturi nav.</h2></center>
{% endif %}

{% if admin %}
<a href="/subscriptions/history/csv/"><button type="button" class="btn btn-danger pull-right" style="margin-left: 2px;">
 <span class="glyphicon glyphicon-th-list" aria-hidden="true"> </span> &nbsp;Eksportēt datus CSV</button></a>
<a href="/subscriptions/history/xls/"><button type="button" class="btn btn-danger pull-right" style="margin-left: 2px;">
 <span class="glyphicon glyphicon-th-list" aria-hidden="true"> </span> &nbsp;Eksportēt datus XLS</button></a>
<br><br>
{% endif %}

<table class="table table-hover table-striped table-condensed">
 <thead>
  <tr style="background: #aaa;">
   <th style="vertical-align: top;">Cīpars</th>
  </tr>
 </thead>
 <tbody>
{% for d in data %}
  <tr class="clickable-row">
   <td class="text-danger"><b>{{ d.number }}</b></td>
  </tr>
{% endfor %}

{% endblock %}
