{% extends 'main_head.html' %}
{% load staticfiles %}
{% block subscription %}
<div id="hider"></div>

<script>
jQuery(document).ready(function($) {
// ESC keypress event
 $(document).keyup(function (e) {
  // ESC 27
  if ( e.keyCode === 27 ) {
    window.location.href = "/";
  }
 });
});
</script>

<h3>Abonementu pirkšana</h3>

<form action="/subscription_purchase/" method=POST>{% csrf_token %}
<input type="hiden" name="subscription" value="{{ chosen_subscr.id }}">
<div class="row">
<!-- RINDA 1 -->
 <div class="col-lg-9 col-md-9 col-sm-9">
  <div class="form-group" style="margin-bottom: 5px;">
   <label>Izvēlētā abonementa nosaukums:</label>
   <input type="text" class="form-control" id="id_subscripton" readonly="readonly" value="{{ chosen_subscr }}">
  </div>
 </div>

 <div class="col-lg-3 col-md-3 col-sm-3">
  <div class="form-group" style="margin-bottom: 5px;">
   <label>Cena:</label>
   <input type="text" class="form-control" id="id_subscripton_price" readonly="readonly">
  </div>
 </div>
</div>

<!-- RINDA 2-->
<div class="row">
 <div class="col-lg-3 col-md-3 col-sm-3">
  <div class="form-group text-right" style="margin-bottom: 0px; margin-top: 5px;">
   <label>Iesaldētā summa:</label>
  </div>
 </div>
 <div class="col-lg-3 col-md-3 col-sm-3">
   <input type="text" class="form-control" id="id_frozen_subscription" readonly="readonly">
 </div>
 <div class="col-lg-3 col-md-3 col-sm-3">
  <div class="form-group text-right" style="margin-bottom: 0px; margin-top: 5px;">
   <label>Summa apmaksai:</label>
  </div>
 </div>
 <div class="col-lg-3 col-md-3 col-sm-3">
   <input type="text" class="form-control" id="id_price_to_pay" readonly="readonly">
 </div>
</div>

<div style="border: solid red 1px;">

<!-- RINDA 3 -->
<div class="row">
 <div class="col-lg-3 col-md-3 col-sm-3" style="margin-top: 25px;">
  <a href="#"><button type="button" class="btn btn-info">Karte</button></a>
 </div>
 <div class="col-lg-3 col-md-3 col-sm-3" style="margin-top: 25px;">
  <a href="#"><button type="button" class="btn btn-info">Skaidrā nauda</button></a>
 </div>
 <div class="col-lg-3 col-md-3 col-sm-3" style="margin-top: 25px;">
  <a href="#"><button type="button" class="btn btn-info">Dāvanu karte</button></a>
 </div>
 <div class="col-lg-3 col-md-3 col-sm-3">
  <div class="form-group" style="margin-bottom: 5px;">
   <label>Dāvanu kartes vērtība:</label>
   <input type="text" class="form-control" id="id_gift_card">
  </div>
 </div>
</div>

<!-- RINDA 4 -->
<div class="row">
 <div class="col-lg-3 col-md-3 col-sm-3" style="margin-top: 25px;">
  <a href="#"><button type="button" class="btn btn-info">Karte/apdroš.</button></a>
 </div>
 <div class="col-lg-3 col-md-3 col-sm-3" style="margin-top: 25px;">
  <a href="#"><button type="button" class="btn btn-info">Skaidrā nauda/apdroš.</button></a>
 </div>
 <div class="col-lg-3 col-md-3 col-sm-3" style="margin-top: 25px;">
  <a href="#"><button type="button" class="btn btn-info">Dāvanu karte/apdroš.</button></a>
 </div>
 <div class="col-lg-3 col-md-3 col-sm-3">
  <div class="form-group" style="margin-bottom: 5px;">
   <label>Sedz apdrošinātājs:</label>
   <input type="text" class="form-control" id="id_insurance">
  </div>
 </div>
</div>

<!-- RINDA 5 -->
<div class="row" style="margin-top:20px;">
 <div class="col-lg-4 col-md-4 col-sm-4" style="margin-top: 5px;">
  <a href="#"><button type="button" class="btn btn-info">Pārskaitījums</button></a>
 </div>
 <div class="col-lg-5 col-md-5 col-sm-5" style=" margin-top: 5px;">
  <div class="form-group text-right" style="margin-top: 5px;">
   <label>Summa apmaksai kopā:</label>
  </div>
 </div>
 <div class="col-lg-3 col-md-3 col-sm-3">
  <input type="text" class="form-control" id="id_total_price" readonly="readonly">
 </div>
</div>

</div>

<!-- RINDA 6 -->
<div class="row text-right" style="margin-top: 10px;">
 <input type="submit" class="btn btn-success" value="Apmaksāt">
 <a href="/"><button type="button" class="btn btn-danger">Atcelt</button></a>
</div>
</form>

{% endblock %}
