{% extends 'main_head.html' %}
{% load staticfiles %}
{% block subscription %}
<div id="hider"></div>

<script>
jQuery(document).ready(function($) {
  $(document).keyup(function (e) {
    // ESC 27
    if ( e.keyCode === 27 ) {
      window.location.href = "{{ back }}";
    }
  });
});
</script>


<h3>Abonementu veidi</h3>

<form action="/subscription_payment/" method=POST>{% csrf_token %}
<div class="row" style="border: solid black 1px;">
<!-- RINDA 1 KOLONA 1-->
 <div class="col-lg-8 col-md-8 col-sm-8" style="border: solid black 1px;">
kolona 1<br>

{% for a in abonementi %}
<input type="radio" name="subscription" value="{{ a.id }}"> <b> {{ a.short_title }}</b><hr>
{% endfor %}

 </div>

<!-- RINDA 1 KOLONA 2-->
 <div class="col-lg-2 col-md-2 col-sm-2" style="border: solid black 1px;">
kolona 2<br>

{% for v in vienreiz %}
<input type="radio" name="subscription" value="{{ v.id }}"> <b> {{ v.short_title }}</b><hr>
{% endfor %}
<!-- <b>Klienta karte {{ card }} EUR</b> -->

 </div>

<!-- RINDA 1 KOLONA 3-->
 <div class="col-lg-2 col-md-2 col-sm-2" style="border: solid black 1px;">
kolona 3<br>

{% for s in special %}
<input type="radio" name="subscription" value="{{ s.id }}"> <b> {{ s.short_title }}</b><hr>
{% endfor %}

 </div>
</div>

<!-- RINDA 2 -->
<div class="row" style="border: solid black 1px;">
 <div class="col-lg-12 col-md-12 col-sm-12" style="border: solid black 1px;">
rinda 2<br>

{% for f in first_time %}
<input type="radio" name="subscription" value="{{ f.id }}"> <b> {{ f.short_title }}</b><hr>
{% endfor %}

 </div>
</div>

<!-- RINDA 3 -->
<div class="row text-right" style="margin-top: 10px;">
 <input type="submit" class="btn btn-success" value="Pirkt">
 <a href="{{ back }}"><button type="button" class="btn btn-danger">Atcelt</button></a>
</div>
</form>

{% endblock %}
