{% extends 'main_head.html' %}
{% load staticfiles %}
{% block subscription %}
<div id="hider"></div>

<h3>Abonementu vēsture</h3>

<a href="{{ back }}"><button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-backward" aria-hidden="true"> </span> &nbsp;Atpakaļ</button></a>

<script>
jQuery(document).ready(function($) {
// ESC keypress event
 $(document).keyup(function (e) {
  // ESC 27
  if ( e.keyCode === 27 ) {
    window.location.href = "{{ back }}";
  }
 });
});
</script>

{% if admin %}
<a href="/subscription/history/csv/"><button type="button" class="btn btn-danger pull-right" style="margin-left: 2px;">
 <span class="glyphicon glyphicon-th-list" aria-hidden="true"> </span> &nbsp;Eksportēt datus CSV</button></a>
<a href="/subscription/history/xls/"><button type="button" class="btn btn-danger pull-right" style="margin-left: 2px;">
 <span class="glyphicon glyphicon-th-list" aria-hidden="true"> </span> &nbsp;Eksportēt datus XLS</button></a>
{% endif %}
<br><br>

{% if paginator.visible %}
<style>
.pagination { margin-top: 10px; margin-bottom: 5px; }
ul.pagination li a:hover:not(.active) {background-color: #ddd;}
.nav-tabs > li > a{ color: #000; background-color:#eee; }
.nav-tabs > li > a:hover{ background-color: #ccc !important; color:#fff; }
</style>

<center><ul class="pagination">
{% if paginator.big %}{% if paginator.active_page == 1 %}
<li class="disabled"><a href="#">&laquo;&laquo;</a></li>{% else %}<li><a href="/subscription/history/1/{{ back_nr }}/">&laquo;&laquo;</a></li>{% endif %}{% endif %}
{% if paginator.active_page == 1 %}<li class="disabled"><a href="#">&laquo;</a></li>{% else %}
<li><a href="/subscription/history/{{ paginator.active_page|add:"-1" }}/{{ back_nr }}/">&laquo;</a></li>{% endif %}
 {% for page in paginator.pages %}
 {% if page == 0 %}<li class="disabled"><a href="#">...</a></li>
 {% elif paginator.active_page == page %}<li class="active"><a href="#">{{ page }}</a></li>
 {% else %}<li><a href="/subscription/history/{{ page }}/{{ back_nr }}/">{{ page }}</a></li>{% endif %}{% endfor %}
{% if paginator.active_page == paginator.pagecount %}<li class="disabled"><a href="#">&raquo;</a></li>{% else %}
<li><a href="/subscription/history/{{ paginator.active_page|add:"1" }}/{{ back_nr }}/">&raquo;</a></li>{% endif %}
{% if paginator.big %}{% if paginator.active_page == paginator.pagecount %}<li class="disabled"><a href="#">&raquo;&raquo;</a></li>{% else %}
<li><a href="/subscription/history/{{ paginator.pagecount }}/{{ back_nr }}/">&raquo;&raquo;</a></li>{% endif %}{% endif %}
</ul></center>
{% endif %}


{% block subscription_data %}
{% endblock %}

{% endblock %}
