{% extends 'main_head.html' %}
{% load staticfiles %}

{% block subscription %}
<div id="hider"></div>

<script>
// variables for calculation
 var subscription_discount, deposit_temp, deposit_remain, deposit_used, price_after_deposit_used;

 var gift_card = Number( 0 );

 var insurance_amount = Number( 0 ); var insurance_select;

 var deposit_total = Number( {{ deposit }} );
 var subscription_initial = Number( {{ subscr_price }} );
 var discount = Number( {{ initial_discount }} );

$(document).ready(function () {
  calculateAll();  
});

// BACK TO MAIN --> ESC
jQuery(document).ready(function($) { $(document).keyup(function (e) { if ( e.keyCode === 27 ) { window.location.href = "/"; } }); });

// select only Cash + Credit or Transfer
function selectOnlyThis(id) {
  var chk_id_list = ['cash_chk', 'credit_card_chk', 'transfer_chk']
  var checked = document.getElementById(id).checked;
  if (id == chk_id_list[0] || id == chk_id_list[1]) {
    if (checked == true) {
      document.getElementById( chk_id_list[2] ).checked = false;
    }
  }
  if (id == chk_id_list[2]) {
    if (checked == true) {
      document.getElementById( chk_id_list[0] ).checked = false;
      document.getElementById( chk_id_list[1] ).checked = false;
    }
  }
  var checkboxes = document.querySelectorAll('input[type="checkbox"]');
  var checkedOne = Array.prototype.slice.call(checkboxes).some(x => x.checked);
  if ( checkedOne == true ) {
    $("#ok_btn").prop('disabled', false);
  } else {
    $("#ok_btn").prop('disabled', 'disabled');
  }
}

function giftCard() {
  gift_card = document.getElementById("id_gift_card_ammount").value;
  gift_card = gift_card.replace(",", ".");
  gift_card = gift_card.replace(/[^\d.-]/g, '');
  gift_card = Number( Number( gift_card ).toFixed(2) );
  calculateAll();
}

function insurance() {
  insurance_amount = document.getElementById("id_insurance_ammount").value;
  insurance_amount = insurance_amount.replace(",", ".");
  insurance_amount = insurance_amount.replace(/[^\d.-]/g, '');
  insurance_amount = Number( Number( insurance_amount ).toFixed(2) );

// ADD INSURANCE DROPLIST TOGLE

  calculateAll();
}

// KALKULATORS
function calculateAll() {
  if ( true == {{ discount_available }} ) {
    subscription_discount = Number( (Number( subscription_initial - ( ( subscription_initial / 100 ) * discount ) )).toFixed(2) );
    document.getElementById("id_subscripton_price_status_discount").value = discount + " %";
  } else {
    subscription_discount = Number( subscription_initial );
    document.getElementById("id_subscripton_price_status_discount").value = "nav";
  }

  // if gift_card + insurance > subscription price
  if ( ( gift_card + insurance_amount ) > subscription_discount ) {
    gift_card = Number( 0 );
    insurance_amount = Number( 0 );
  }

  deposit_temp = Number( ( deposit_total - ( subscription_discount - gift_card - insurance_amount ) ).toFixed(2) );
  if ( deposit_temp > 0 ) {
    deposit_remain = deposit_temp;
    deposit_used = Number( ( deposit_total - deposit_temp ).toFixed(2) );
  } else {
    deposit_remain = Number( 0 );
    deposit_used = deposit_total;
  }

  price_after_deposit_used = Number( ( subscription_discount - deposit_used - gift_card - insurance_amount ).toFixed(2) );

  document.getElementById("id_subscripton_price").value = "\u20AC " + subscription_initial.toFixed(2);
  document.getElementById("deposit_remain").value = "\u20AC " + deposit_remain.toFixed(2);
  document.getElementById("deposit_used").value = "\u20AC " + deposit_used.toFixed(2);
  document.getElementById("id_price_to_pay").value = "\u20AC " + subscription_discount.toFixed(2); // price_after_deposit_used.toFixed(2);
  document.getElementById("id_gift_card_ammount").value = "\u20AC " + gift_card.toFixed(2);
  document.getElementById("id_insurance_ammount").value = "\u20AC " + insurance_amount.toFixed(2);
  document.getElementById("id_total_price").value = "\u20AC " + price_after_deposit_used.toFixed(2);

  if ( price_after_deposit_used != 0 ) {
    var checkboxes = document.querySelectorAll('input[type="checkbox"]');
    var checkedOne = Array.prototype.slice.call(checkboxes).some(x => x.checked);
    if ( checkedOne == true ) {
      $("#ok_btn").prop('disabled', false);
    } else {
      $("#ok_btn").prop('disabled', 'disabled');
    }
  } else {
    $("#ok_btn").prop('disabled', false);
  }
}
</script>

<h3>Abonementu apmaksa</h3>

<form id="forma" action="/subscription_purchase/" method=POST>{% csrf_token %}

<div class="row">
 {% if client.notes != "" %}
  <div class="form-group" style="margin-bottom: 5px;">
   <label for="id_notes">Piezīmes:</label>
   <textarea class="form-control input-lg" cols="40" id="id_notes" maxlength="150" name="notes" rows="5" style="resize:none;">{{ client.notes }}</textarea>
  </div>
 {% else %}
  <input type="hidden" name="notes" value="">
 {% endif %}

 {% if client.society %}
  <div class="alert alert-danger" role="alert" style="padding-top: 0px; padding-botom: 0px;">
   <h3 style="margin-top: 14px; margin-bottom: 2px;"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><strong> &nbsp;&nbsp;&nbsp;Biedrība</strong></h3>
  </div>
 {% endif %}
<!-- </div> -->

<hr style="border-top: 1px solid green; margin-top: 0px;">

<input type="hidden" name="subscription" value="{{ chosen_subscr.id }}">
<!-- <div class="row"> -->
<!-- RINDA 1 -->
 <div class="col-lg-9 col-md-9 col-sm-9">
  <div class="form-group" style="margin-bottom: 5px;">
   <label>Izvēlētā abonementa nosaukums:</label>
   <input type="text" class="form-control input-lg" id="id_subscripton" readonly="readonly" value="{{ chosen_subscr }}">
  </div>
 </div>

 <div class="col-lg-3 col-md-3 col-sm-3">
  <div class="row">
   <div class="col-lg-7 col-md-7 col-sm-7">
    <div class="form-group" style="margin-bottom: 5px; padding-left: 7px;">
     <label>Cena:</label>
     <input type="text" class="form-control input-lg" id="id_subscripton_price" readonly="readonly" value="&euro; {{ chosen_subscr.price|floatformat:2 }}">
    </div>
   </div>
   <div class="col-lg-5 col-md-5 col-sm-5" style="padding-right: 1px; padding-left: 0px;">
    <div class="form-group" style="margin-bottom: 5px;">
     <label>Atlaide:</label>
     <input type="text" class="form-control input-lg" id="id_subscripton_price_status_discount" readonly="readonly">
    </div>
   </div>
  </div>
 </div>


<div class="row" style="margin-top: 10px; margin-bottom: 10px;">
 <div class="col-lg-7 col-md-7 col-sm-7" style="padding-right: 0px; padding-left: 0px;">
  <div class="col-lg-3 col-md-3 col-sm-3">
   <div class="form-group text-right" style="margin-bottom: 0px; margin-top: 5px;">
    <label>Depozīta atlikums:</label>
   </div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-3">
    <input type="text" class="form-control input-lg" name="deposit_remain" id="deposit_remain" readonly="readonly">
  </div>
  <div class="col-lg-3 col-md-3 col-sm-3">
   <div class="form-group text-right" style="margin-bottom: 0px; margin-top: 5px;">
    <label>No depozīta:</label>
   </div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-3">
    <input type="text" class="form-control input-lg" name="deposit_used" id="deposit_used" readonly="readonly">
  </div>
 </div>

 <div class="col-lg-5 col-md-5 col-sm-5" style="padding-right: 0px; padding-left: 0px;"">
  <div class="col-lg-5 col-md-5 col-sm-5">
   <div class="form-group text-right" style="margin-bottom: 0px; margin-top: 5px;">
    <label>Summa ar atlaidi:</label>
   </div>
  </div>
  <div class="col-lg-7 col-md-7 col-sm-7" style="padding-left: 7px;">
    <input type="text" class="form-control input-lg" id="id_price_to_pay" name="id_price_to_pay" readonly="readonly">
  </div>
 </div>
</div>

<hr style="border-top: 1px solid green;">

<div class="row">
 <div class="col-lg-3 col-md-3 col-sm-3" style="margin-top: 10px;"></div>

 <div class="col-lg-3 col-md-3 col-sm-3" style="margin-top: 10px;">
  <div class="col-lg-3 col-md-3 col-sm-3" style="margin-top: 10px;">
   <input class="form-control" id="cash_chk" name="cash_chk" type="checkbox" onchange="selectOnlyThis(id);">
   <input class="form-control" id="credit_card_chk" name="credit_card_chk" type="checkbox" onchange="selectOnlyThis(id);">
   <input class="form-control" id="transfer_chk" name="transfer_chk" type="checkbox" onchange="selectOnlyThis(id);">
  </div>
  <div class="col-lg-9 col-md-9 col-sm-9" style="margin-top: 10px;">
   <label for="cash_chk" style="margin-top: 10px;">Skaidrā naudā</label><br>
   <label for="credit_card_chk" style="margin-top: 13px;">Kredītkarte</label><br>
   <label for="transfer_chk" style="margin-top: 13px;">Pārskaitījums</label>
  </div>
 </div>

 <div class="col-lg-3 col-md-3 col-sm-3" style="margin-top: 86px;">
  <div class="form-group">
   <label>Apdrošinātājs:</label>
   <select class="form-control input-lg" id="insurance_comp" name="insurance_comp">
    <option value="" selected="selected">-------</option>
    {% for i in insurance %}
    <option value="{{ i.id }}">{{ i }}</option>
    {% endfor %}
   </select>
  </div>
 </div>

 <div class="col-lg-3 col-md-3 col-sm-3" style="margin-top: 10px;">
  <div class="form-group" style="margin-bottom: 5px;">
   <label>Dāvanu kartes vērtība:</label>
   <input type="text" class="form-control input-lg" id="id_gift_card_ammount" name="id_gift_card_ammount" onchange="giftCard();">
  </div>
  <div class="form-group" style="margin-bottom: 5px;">
   <label>Sedz apdrošinātājs:</label>
   <input type="text" class="form-control input-lg" id="id_insurance_ammount" name="id_insurance_ammount" onchange="insurance();">
  </div>
 </div>
</div>

<hr style="border-top: 1px solid green; margin-top: 8px;">

<!--
<div class="row" style="margin-top:10px;">
 <div class="col-lg-5 col-md-5 col-sm-5"></div>
 <div class="col-lg-4 col-md-4 col-sm-4">
  <div class="form-group">
   <label>Papildu atlaide:</label>
   <select class="form-control input-lg" id="id_discount" name="id_discount">
   <option value="none" selected="selected">-------</option>
   <option value="s.id.1">Atlaides veids 1</option>
   <option value="s.id.2">Atlaides veids 2</option>
   <option value="s.id.3">Atlaides veids 3</option>
   <option value="s.id.4">Atlaides veids 4</option>
   </select>
  </div>
 </div>
 <div class="col-lg-3 col-md-3 col-sm-3">
  <label>Atlaide:</label>
  <input type="text" class="form-control input-lg" id="id_discount_amount" name="id_discount_amount" readonly="readonly">
 </div>
</div>

<hr style="border-top: 1px solid green; margin-top: 8px;">
-->

<div class="row" style="margin-top:20px;">
 <div class="col-lg-4 col-md-4 col-sm-4" style="margin-top: 5px;"> </div>
 <div class="col-lg-5 col-md-5 col-sm-5" style=" margin-top: 5px;">
  <div class="form-group text-right" style="margin-top: 5px;">
   <label>Summa apmaksai kopā:</label>
  </div>
 </div>
 <div class="col-lg-3 col-md-3 col-sm-3">
  <input type="text" class="form-control input-lg" id="id_total_price" name="id_total_price" readonly="readonly">
 </div>
</div>

<hr style="border-top: 1px solid green; margin-top: 8px;">

<!-- RINDA 6 -->
<script>
var countdown;
var duration = 14;
function submit_changes() {
  clearInterval(countdown);
  $("#yes").prop('disabled', 'disabled');
  document.getElementById("forma").submit();
  document.querySelector("#yes").value = "Notiek apstrāde...";
}
function apply() {
  $("#yes").show();
  $("#ok_btn").hide();
  clearInterval(countdown);
  applyTimer();
}
function applyTimer() {
  display = document.querySelector("#yes");
  display.focus();
  display.value ="Apmaksāt ? (15)";
  var timer = duration, seconds = 15;
  countdown = setInterval( function () {
    seconds = parseInt(timer % 60, 10); 
    display.value = "Apmaksāt ? (" + seconds + ")"; --timer;
    if (1 > seconds) {
      $("#yes").hide();
      $("#ok_btn").show();
      clearInterval(countdown);
      document.getElementById("ok_btn").focus();
    }
  }
  , 1000);
}
</script>

<div class="row text-right" style="margin-top: 30px;">
 <input type="button" class="btn btn-success pull-left" value="apmaksāt ? (15)" style="display: none;" id="yes" onclick="submit_changes();">
 <button type="button" class="btn btn-success" style="min-width: 190px; max-width: 190px;" onclick="apply();" id="ok_btn" disabled>Apmaksāt</button>
 <a href="/client/edit/"><button type="button" class="btn btn-danger" style="min-width: 190px; max-width: 190px;">Atcelt</button></a> 
</div>

</form>

{% endblock %}
