{% extends 'main_head.html' %}
{% load staticfiles %}

{% block javascript %}
<script type="text/javascript" src="{% static 'bootstrap/js/datepicker.js' %}"></script>
<link rel="stylesheet" href="{% static 'bootstrap/css/datepicker.css' %}"/>
{% endblock %}

{% block freeze_subscription %}
<style>
#hider { position: absolute; top: 0px; left: 0px; right: 0px; height: 50px; background: #000; opacity: 0.6; }
</style>

<div id="hider"></div>

<h3>Abonementu iesaldēšana</h3>

<div class="row">
 <div  class="col-lg-8 col-md-8 col-sm-8">
  <div class="form-group" style="margin-bottom: 5px;">
   <label id="id_subscription" for="id_subscription">Aktīvā abonementa nosaukums:</label>
   <input class="form-control" id="id_subscription" maxlength="16" name="subscriptione" size="15" type="text">
  </div>
 </div>
</div>

<div class="row">
 <div  class="col-lg-4 col-md-5 col-sm-6">
  <div class="form-group" style="margin-bottom: 5px;">
   <label>Iesaldēt no:</label>
   <input class="form-control" id="id_freeze_start" maxlength="16" name="freeze_start" size="15" type="text">
  </div>

  <div class="form-group" style="margin-bottom: 5px;">
   <label>Iesaldēt līdz:</label>
   <input class="form-control" id="id_freeze_end" maxlength="16" name="freeze_end" size="15" type="text">
  </div>
 </div>
</div>

<script>
$(document).ready(function(){ var date_input=$('input[name="freeze_start"]');
 var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
 var options={ format: 'dd/mm/yyyy', container: container, todayHighlight: true, autoclose: true, weekStart: 1, };
 date_input.datepicker(options); })
$(document).ready(function(){ var date_input=$('input[name="freeze_end"]');
 var container=$('.form-group form').length>0 ? $('.bootstrap-iso form').parent() : "body";
 var options={ format: 'dd/mm/yyyy', container: container, todayHighlight: true, autoclose: true, weekStart: 1, };
 date_input.datepicker(options); })
</script>

<div class="row text-right">
 <a href="#"><button type="button" class="btn btn-success">Iesaldēt</button></a>
 <a href="/client/edit/"><button type="button" class="btn btn-danger">Atcelt</button></a> 
</div>

{% endblock %}
