{% extends 'main_head.html' %}
{% load staticfiles %}

{% block in_club %}

<script>
// detect idle state keyboard & mouse
var idleTime = 0;
$(document).ready(function () {
  //Increment the idle time counter every minute.
    var idleInterval = setInterval(timerIncrement, 60000); // 1 minute
  //Zero the idle timer on mouse movement.
    $(this).mousemove(function (e) {
        idleTime = 0;
    });
    $(this).keypress(function (e) {
        idleTime = 0;
    });
});
function timerIncrement() {
    idleTime = idleTime + 1;
    if (idleTime > 1) { // 1 minutes
       window.location.href = "/lockers/taken/";
    }
}

jQuery(document).ready(function($) {
  $(document).keyup(function (e) {
    // ESC 27
    if ( e.keyCode === 27 ) {
      window.location.href = "/";
    }
  });

  $(".clickable-row").click(function(e) {
    window.location.href = "/lockers/taken/" + $(this).children('td')[0].innerHTML + "/";
  });
});
</script>


<table class="table table-hover table-striped table-condensed">
 <thead>
  <tr style="background: #aaa;">
   <th style="vertical-align: top;">Vārds</th>
   <th style="vertical-align: top;">Uzvārds</th>
   <th style="vertical-align: top;">Skapītis</th>
   <th style="vertical-align: top;">Iečekošanās laiks</th>
  </tr>
 </thead>
 <tbody>
{% for d in data_no_card %}
  <tr class="clickable-row {% if d.number == "0" %}warning{% endif %}">
   <td style="display:none;">{{ d.client.id }}</td>
   <td>{{ d.client.name }}</td>
   <td>{{ d.client.surname }}</td>
   <td {% if d.locker_type == "V" %}style="background: {{ man_locker_color }};"{% else %}style="background: {{ woman_locker_color }};"{% endif %}>
    <center>{{ d.locker_type }} {{ d.number }}</center>
   </td>
   <td>{{ d.checkin_time }}</td>
  </tr>
{% endfor %}

{% if data_no_card %}
  <tr><td colspan="4"><hr style="border-top: 3px solid red; margin: 0px;"></td></tr>
{% endif %}

{% for d in data %}
  <tr class="clickable-row {% if d.number == "0" %}warning{% endif %}">
   <td style="display:none;">{{ d.client.id }}</td>
   <td>{{ d.client.name }}</td>
   <td>{{ d.client.surname }}</td>
   <td {% if d.locker_type == "V" %}style="background: {{ man_locker_color }};"{% else %}style="background: {{ woman_locker_color }};"{% endif %}>
    <center>{{ d.locker_type }} {{ d.number }}</center>
   </td>
   <td>{{ d.checkin_time }}</td>
  </tr>
{% endfor %}
 </tbody>
</table>

{% endblock %}
