{% extends 'main_modals.html' %}
{% load staticfiles %}

{% block javascript %}
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="{% static 'angulars.js' %}"></script>
<script src="{% static 'pas_ef.js' %}"></script>
<link rel="stylesheet" href="{% static 'css.css' %}" />
{% endblock %}

{% block main_content %}

<!-- KOLONA 1 START -->
 <div class="col-sm-7 col-md-7 col-lg-7" style="border: solid green 1px;">

<!-- Search MODULIS START -->
  <div class="row">
    <table class="table">
   <form id="search_card_id" action="/" method=POST>{% csrf_token %}
     <tr>
      <td style="width: 30%; text-align: right; vertical-align: bottom; border: none;"><label>ID:</label></td>
      <td style="border: none;">
       <div class="input-group">
        <input class="form-control" id="id" name="id" size="30" type="text" value="{{ client.id }}">
        <span class="input-group-btn">
          <button class="btn btn-danger" type="button" onclick="clearID();">
          <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></button>
        </span>
      </td>
     </tr>
   </form>
   <form id="search" action="/client/search/" method=POST>{% csrf_token %}
     <tr>
      <td style="width: 30%; text-align: right; vertical-align: bottom; border: none;"><label>Meklēt:</label></td>
      <td style="border: none;">
       <div class="input-group">
        <input class="form-control" id="search" name="search" size="30" type="text">
        <span class="input-group-btn">
         <button class="btn btn-info" type="submit">
         <span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
        </span>
       </div>
      </td>
     </tr>
   </form>
    </table>
  </div>
<!-- Search MODULIS END -->



<!-- AVATAR MODULIS START -->
  <div class="row">
   <div class="col-sm-6 col-md-6 col-lg-6" style="border: solid black 1px;">
    <div class="row">

     {% if client %}
       {% if client.avatar != "" %}
       <img id="avatar" src="/media/{{ client.avatar }}"/>
       {% else %}
       <img id="avatar" src="{% static 'avatar_none.png' %}"/>
       {% endif %}
     {% else %}
     <img id="avatar" src="{% static 'avatar_wait.png' %}"/>
     {% endif %}

    </div>
    <div class="row" style="margin-top: 15px; height: 100px;">

     {% if client_locker %}
     <div class="locker" style="margin-left: 20px; {% if client_locker.locker_type == "V" %}background: {{ man_locker_color }};{% else %}background: {{ woman_locker_color }};{% endif %}">
      <h3 class="locker_text">{{ client_locker.number }}</h3>
     </div>
     <div style="float: left;">
      <h4 style="margin-top: 5px; margin-bottom: 5px;">Atrodas klubā kopš:</h4>
      <h5 style="margin-left: 15px;">{{ client_locker.checkin_time|date:"Y/m/d H:i" }}</h5>
     </div>
     {% endif %}

    </div>
    <div class="row">
     <center>
      <a href="/lockers/history/">
       <button type="button" class="btn btn-info" style="border: solid #888 1px;">Apmeklējumu vēsture</button>
      </a>
     </center>
    </div>
   </div>
<!-- AVATAR MODULIS END -->



<!-- Klienta info MODULIS START -->

   <div class="col-sm-6 col-md-6 col-lg-6" style="border: solid #ccc 1px;">
    <div class="container-fluid" style="background: #d2dff4; border: solid #ccc 1px; margin-bottom: 10px;">
     Informācija par klientu:<br>
{% if client %}<b>{{ client.name}} {{ client.surname }}</b>,{% endif %}<br>

{% if client %}<b>{{ client.status }}</b>{% if client.society == True %} <b>(BIEDRĪBA)</b>{% endif %}{% endif %}<br><br>

{% if client %}Pašlaik pieejamais abonements:<br><b>{{ active_subscription }}</b>{% endif %}<br><br>

{% if client %}Atlikušo reižu skaits:<br><b>{{ active_subscription.times_count }}</b>{% endif %}<br><br>

{% if client %}Derīguma termiņš,<br><b>{{ active_subscription.best_before }}</b>{% endif %}<br><br>

{% if client %}Pēdējais apmeklējums:<br>
  {% if client and checked == True %} <b>Pašlaik atrodas klubā</b>
  {% elif client and last_visit %} <b>{{ last_visit }}</b>
  {% elif client %}Datu nav{% endif %}
{% endif %}<br>


    </div>

{% for s in subscr %}<h4>{{ s }}</h4>{% endfor %}

   </div>
  </div>

<!-- Klienta info MODULIS END -->



<!-- Piezīmes MODULIS START -->

  <div class="col-sm-12 col-md-12 col-lg-12" style="margin-top: 10px;">
   <hr>
   <form id="search" action="/update_notes/" method=POST>{% csrf_token %}
    <div class="form-group" style="margin-bottom: 5px;">
     <label id="id_notes" for="id_notes">Piezīmes:</label>
     <textarea class="form-control" cols="40" id="id_notes" maxlength="150" name="notes" rows="4" style="resize:none;">{{ client.notes }}</textarea>
    </div>
    {% if client %}
    <input type="submit" id="ok_btn" class="btn btn-success pull-right" value="Saglabāt piezīmju izmaiņas">
    {% endif %}
   </form>
  </div>

<!-- Piezīmes MODULIS END -->

 </div>
<!-- KOLONA 1 END -->



<!-- KOLONA 2 START -->
 <div class="col-sm-5 col-md-5 col-lg-5" style="border: solid red 1px;">
  <a href="/subscription">
   <button type="button" class="btn btn-info" style="margin-top: 8px;">Pirkt abonementu</button>
  </a>

 <!-- EDIJA KIOSKS START -->
<!--
 <div ng-app="kiosks" ng-controller="main_ctrl">
  <div class="row solarijs" style="border: solid red 1px;">
   <h4 class="text-center" style="margin-bottom: 0px;">Vertikālais Solarijs</h4>
   <div id="precu-cont">
    <div id="vSolarijaBloks" ng-repeat="x in vSolarijs">
     <p ng-click="izveletaisSolarijs(x)"></p>
     <h6 style="margin-left:2px; text-align:left">Min: {% verbatim %} {{x.minutes}} {% endverbatim %}</h6>
     <h6 style="margin-left:2px; text-align:left">Cena: {% verbatim %} {{x.cena}} {% endverbatim %} &euro;</h6>
    </div>
   </div>
  </div>
  <div class="row solarijs"  style="border: solid red 1px;">
   <h4 class="text-center" style="margin-bottom: 0px;">Horizontālais Solarijs</h4>
   <div id="precu-cont">
    <div id="vSolarijaBloks" ng-repeat="y in hSolarijs">
     <p ng-click="izveletaisSolarijs(y)"></p>
     <h6 style="margin-left:2px; text-align:left">Min: {% verbatim %} {{y.minutes}} {% endverbatim %}</h6>
     <h6 style="margin-left:2px; text-align:left">Cena: {% verbatim %} {{y.cena}} {% endverbatim %} &euro;</h6>
    </div>
   </div>
  </div>
 </div>
-->
 <!-- EDIJA KIOSKS START -->
<!--
  <div style="border: solid red 1px;">
   <h4>Preces</h4>
  </div>

  <div class="text-right" style="border: solid red 1px;">
   <h4>summa</h4>
  </div>

  <a href="#">
   <button type="button" class="btn btn-success pull-right">Apmaksāt</button>
  </a>
-->

<br><br><br><br><br><br>
<br><br><br><br><br><br>

 </div>
<!-- KOLONA 2 END -->

{% endblock %}
