
  <div class="alert alert-success" role="alert" style="padding-top: 0px; padding-botom: 0px; margin: 8px 0px 5px 0px;">
   <h4 style="margin-top: 14px; margin-bottom: 2px;"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> &nbsp;&nbsp;&nbsp;
   Sadaļā <strong>"Kas klubā"</strong> virs sarkanās svītras ir tie klienti, kuri klubā ienākuši bez kartiņas!</h4>
   <h4 style="margin-top: 3px; margin-bottom: 5px;"><center><small>(atrasti caur "Meklētāju")</small></center></h4>
  </div>

  <div class="alert alert-warning" role="alert" style="padding-top: 0px; padding-botom: 0px; margin: 8px 0px 5px 0px; border-color: #ccc;">
   <h4 style="margin-top: 14px; margin-bottom: 2px;"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
   <strong>&nbsp;&nbsp;&nbsp;Iespējams nomainīt skapīti "neizčekojot" - klikškis uz skapīša (zem attēla)</strong></h4>
  </div>


