{% extends 'main_head.html' %}
{% load staticfiles %}
{% block main_view %}

<script>
// disable drag
$(document).ready(function () {
  document.getElementById("info").ondragstart = function() { return false; };
  document.getElementById("info").onselectstart = function() { return false; };
  document.getElementById("info").onmousedown = function() { return false; };
});


{% if client %}
// detect idle state keyboard & mouse
var idleTime = 0;
$(document).ready(function () {
  //Increment the idle time counter every minute.
    var idleInterval = setInterval(timerIncrement, 60000); // 1 minute
  //Zero the idle timer on mouse movement.
    $(this).mousemove(function (e) {
        idleTime = 0;
    });
    $(this).keypress(function (e) {
        idleTime = 0;
    });
});
function timerIncrement() {
    idleTime = idleTime + 1;
    if (idleTime > 9) { // 10 minutes
       clearID();
    }
}
{% endif %}

// focus on ID
function focusID() {
  $("#id").focus();
}

// Cancel Freeze Modal
function cancelFreeze() {
 $("#FreezeCancelModal").modal('show');
 $("#FreezeCancelModal").on('shown.bs.modal', function(event) { $("#unfreeze_button").focus(); });
}
function unFreeze() { window.location.href = "/subscription_unfreeze/"; }

// clearID
function clearID() { window.location.href = "/clear_id/"; }

// Checkout
function checkOut() { window.location.href = "/lockers/checkout/"; }

$(document).ready(function(){
{% if message %}
 $("#MesageModal").modal('show');
 $("#MesageModal").on('shown.bs.modal', function(event) { $("#closeMesageModal").focus(); });
 {% if message_code_5 %}{% else %}
 setTimeout(function(){ $("#MesageModal").modal('hide'); } , 2000);{% endif %}{% endif %}

{% if notes_updated %}
 $("#ClientModal").modal('show');
 $("#ClientModal").on('shown.bs.modal', function(event) { $("#closeClientModal").focus(); });
 setTimeout(function(){ $("#ClientModal").modal('hide'); } , 1000); {% endif %}

{% if subscription_purchased %}
 $("#ClientModal").modal('show');
 $("#ClientModal").on('shown.bs.modal', function(event) { $("#closeClientModal").focus(); });
 setTimeout(function(){ $("#ClientModal").modal('hide'); } , 1000); {% endif %}

{% if new_client %}
 $("#ClientModal").modal('show');
 $("#ClientModal").on('shown.bs.modal', function(event) { $("#closeClientModal").focus(); });
 setTimeout(function(){ $("#ClientModal").modal('hide'); } , 1000); {% endif %}

{% if edit_client %}
 $("#ClientModal").modal('show');
 $("#ClientModal").on('shown.bs.modal', function(event) { $("#closeClientModal").focus(); });
 setTimeout(function(){ $("#ClientModal").modal('hide'); } , 1000); {% endif %}


// -------------------------------------------------------------------
// avatar border color
{% if client %}

{% if message_code_5 %}
<!-- frozen -->
document.getElementById("avatar").style.borderColor = "#0480be";
{% else %}

// ja: aktīvs abonements, nav iečekots, kļūdu kartiņā nav -->
{% if abon_active and checked == False and message_type != "error" %}
<!-- check-in -->
document.getElementById("avatar").addEventListener("click", function () {
  window.location.href = "/lockers/{{ active_subscription.id }}/";
});
document.getElementById("avatar").style.borderColor = "green";
document.getElementById("klienta-dati").style.background = "#dff0d8";

// bet ja: iečekots un kļūdu kartiņā nav -->
{% elif checked == True and message_type != "error" %}
<!-- check-out -->
document.getElementById("avatar").addEventListener("click", function() {
  $("#CheckoutModal").modal('show');
  $("#CheckoutModal").on('shown.bs.modal', function(event) { $("#checkout_button").focus(); });
});
document.getElementById("avatar").style.borderColor = "green";
document.getElementById("klienta-dati").style.background = "#dff0d8";

// citā gadījumā (nav aktīvs abonements, klients bloķēts) -->
{% else %}
<!-- purchase -->
document.getElementById("avatar").addEventListener("click", function () {
  window.location.href = "/subscription/";
});
document.getElementById("avatar").style.borderColor = "red";
document.getElementById("klienta-dati").style.background = "#f2dede";
{% endif %}

{% endif %}

{% endif %}
});


// -------------------------------------------------------------------
// card read & ENTER button events
var card_string = "{{ card_string }}";
var temp_string = ""; var char_count = 0; var card_start = false;

$(document).keypress(function (e) {
  if ($(e.target).is('textarea, input')) {
    if ( e.keyCode === 32 ) {
      return;
    }
  }

  if ($(e.target).is('input')) {
    if ( e.keyCode === 13 ) {
      return;
    }
  }

  var symb = String.fromCharCode(e.which);
  if (card_start == true) {
    if (symb != "?") {
      temp_string += symb;
      char_count++; e.preventDefault();
    } else {
      document.getElementById('id').value = temp_string;
      temp_string = ""; char_count = 0; e.preventDefault();
      document.getElementById("search_card_id").submit();
    }
  } else {


  // SPACEBAR
    if ( e.keyCode == 32 ) {
  {% if client %}
  {% if message_code_1 or message_code_2 or message_code_3 or message_code_5 %}

// ERROR MESAGE PREVENTS "ENTER" BUTTON
// Allow only check-out
  {% if checked == True %}
     $("#CheckoutModal").modal('show');
     $("#CheckoutModal").on('shown.bs.modal', function(event) { $("#checkout_button").focus(); });
  {% endif %}
  {% else %}


// if no message errors -->
  {% if checked == True %}
<!-- ceck-out -->
       $("#CheckoutModal").modal('show');
       $("#CheckoutModal").on('shown.bs.modal', function(event) { $("#checkout_button").focus(); });
  {% elif abon_active != True %}
<!-- purchase -->
       window.location.href = "/subscription/";
  {% elif abon_active == True %}
<!-- check-in -->
       window.location.href = "/lockers/{{ active_subscription.id }}/";
  {% endif %}
// endif

  {% endif %}
  {% endif %}

    }
    if (card_string[char_count] == symb) {
      temp_string += symb;
      if (card_string == temp_string) { temp_string = ""; char_count = 0; card_start = true; }
      e.preventDefault(); char_count++;
    } else { char_count = 0; temp_string = ""; } } 
});


// Deposit
function deposit_money() { $("#DepositModal").modal('show'); }
var deposit_cash_amount;
var deposit_reason;
function deposit() {
  deposit_reason = document.getElementById("deposit_reason").value
  deposit_cash_amount = document.getElementById("deposit_add").value;
  deposit_cash_amount = deposit_cash_amount.replace(",", ".");
  deposit_cash_amount = deposit_cash_amount.replace(/[^\d.-]/g, '');
  deposit_cash_amount = Number( Number( deposit_cash_amount ).toFixed(2) );
  document.getElementById("deposit_add").value = "\u20AC " + deposit_cash_amount.toFixed(2);

  if ( deposit_cash_amount != "" && deposit_reason.length > 4 ) {
    $("#deposit_ok").removeAttr('disabled');
  } else {
    $("#deposit_ok").prop('disabled', 'disabled');
  }
}
</script>


<!-- Deposit Modal START -->
<div class="modal fade" id="DepositModal" tabindex="-1" role="dialog" aria-hidden="true">
 <form action="/client/deposit/add/1/" method=POST>{% csrf_token %}
<div class="modal-dialog" style="margin-top: 100px"><div class="modal-content">
<div class="modal-header">
 <h3 style="margin-top:5px; margin-bottom:5px;"><span class="glyphicon glyphicon-piggy-bank" aria-hidden="true"></span>&nbsp;Pievienot klientam depozītu</h3>
</div>
<div class="modal-body">
<!-- <style>.input-numeral { text-align: right; }</style> -->
 <center>
  <label for="deposit_reason" style="text-align: left;">Pamatojums:</label>
  <input type="text" class="form-control" id="deposit_reason" name="deposit_reason" onchange="deposit();">
  <label for="deposit_add" style="text-align: left;">Summa:</label>
  <input type="text" class="form-control input-numeral" id="deposit_add" name="deposit_add" onchange="deposit();">
 </center>
</div>
<div class="modal-footer">
 <input class="btn btn-danger" id="deposit_ok" type="submit" value="Pievienot depozītu" disabled>
 <button id="deposit_cancel" type="button" class="btn btn-success" data-dismiss="modal">Atcelt</button>
</div></div></div>
 </form>
</div>
<!-- Deposit Modal END -->


<!-- ClientModal Modal START -->
<div class="modal fade" id="ClientModal" tabindex="-1" role="dialog" aria-hidden="true" style="z-index: 9999;">
<div class="modal-dialog" style="margin-top: 100px"><div class="modal-content">
<div class="modal-header" style="padding:9px 15px; border-bottom:1px solid #eee; background-color: #3ad16c; border-top-left-radius: 5px; border-top-right-radius: 5px;">
 <h3 style="margin-top:5px; margin-bottom:5px;">
<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>&nbsp;&nbsp;Paziņojums!</h3>
</div>
<div class="modal-body">
<center>
{% if notes_updated %}<h4>Piezīmes tika rediģētas!</h4>{% endif %}
{% if subscription_purchased %}<h4>Abonements ir iegādāts!</h4>{% endif %}
{% if new_client %}<h4>Jauna klienta kartiņa ir izveidota!</h4>{% endif %}
{% if edit_client %}<h4>Klienta kartiņa ir sekmīgi rediģēta!</h4>{% endif %}
</center>
</div>
<div class="modal-footer">
 <button id="closeClientModal" type="button" class="btn btn-default" data-dismiss="modal">Aizvērt</button>
</div></div></div></div>
<!-- ClientModal Modal END -->


<!-- Checkout Modal START -->
<div class="modal fade" id="CheckoutModal" tabindex="-1" role="dialog" aria-hidden="true">
<div class="modal-dialog" style="margin-top: 100px"><div class="modal-content">
<div class="modal-header" style="padding:9px 15px; border-bottom:1px solid #eee; background-color: #cca937; border-top-left-radius: 5px; border-top-right-radius: 5px;">
 <h3 style="margin-top:5px; margin-bottom:5px;"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>&nbsp;&nbsp;Izčekot klientu ?</h3>
</div>
<div class="modal-footer">
  <button id="checkout_button" type="button" class="btn btn-success" style="min-width: 100px; max-width: 100px;" onclick="checkOut();">Jā</button>
  <button id="checkot_cancel" type="button" class="btn btn-danger" data-dismiss="modal" style="min-width: 100px; max-width: 100px;">Atcelt</button>
</div></div></div></div>
<!-- Checkout Modal END -->


<!-- FreezeCancel Modal START -->
<div class="modal fade" id="FreezeCancelModal" tabindex="-1" role="dialog" aria-hidden="true">
<div class="modal-dialog" style="margin-top: 100px"><div class="modal-content">
<div class="modal-header" style="padding:9px 15px; border-bottom:1px solid #eee; border-top-left-radius: 5px; border-top-right-radius: 5px; background-color: #0480be;">
 <h3 style="margin-top:5px; margin-bottom:5px;"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>&nbsp;&nbsp;Atcelt Iesaldi ?</h3>
</div>
<div class="modal-footer">
  <button id="unfreeze_button" type="button" class="btn btn-success" style="min-width: 200px; max-width: 200px;" onclick="unFreeze();">Atcelt iesaldi</button>
  <button id="unfreeze_cancel" type="button" class="btn btn-danger" data-dismiss="modal" style="min-width: 100px; max-width: 100px;">Atpakaļ</button>
</div></div></div></div>
<!-- FreezeCancel Modal END -->


{% if message %}
<!-- ErrorMesage Modal START -->
<div class="modal fade" id="MesageModal" tabindex="-1" role="dialog" aria-hidden="true">
<div class="modal-dialog" style="margin-top: 100px"><div class="modal-content">
{% if message_code_5 %}
<div class="modal-header" style="padding:9px 15px; border-bottom:1px solid #eee; border-top-left-radius: 5px; border-top-right-radius: 5px; background-color: #0480be;">
{% else %}
<div class="modal-header" style="padding:9px 15px; border-bottom:1px solid #eee; border-top-left-radius: 5px; border-top-right-radius: 5px; background-color: #c6451d;">
{% endif %}

 <h3 style="margin-top:5px; margin-bottom:5px;">
{% if message_type == "error" %}<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>&nbsp;&nbsp;Kļūda!</h3>{% endif%}
{% if message_type == "message" %}<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>&nbsp;&nbsp;Paziņojums!</h3>{% endif%}
</div>
<div class="modal-body">
<center>
{% if message_code_1 %}<h4>Klienta karte nav reģistrēta, ieraksts nav atrasts!</h4>{% endif %}
{% if message_code_2 %}<h4>Klienta karte ir BLOĶĒTA!</h4>{% endif %}
{% if message_code_3 %}<h4>Klients ir bloķēts un atrodas melnajā sarakstā!</h4>{% endif %}

{% if message_code_4 %}<h4>Klienta status ir izmainīts uz <b>{{ client.status }}</b> !</h4>{% endif %}

{% if message_code_5 %}
 <h2>Aktīva iesalde !</h2>
 <h3>no {{ client.frozen_from|date:"Y-m-d" }} līdz {{ client.frozen_until|date:"Y-m-d" }}</h3>
{% endif %}
</center>
</div>
<div class="modal-footer">
 <button id="closeMesageModal" type="button" class="btn btn-default" data-dismiss="modal">Aizvērt</button>
</div></div></div></div>
<!-- ErrorMesage Modal END -->
{% endif %}


<div class="row">
{% block main_content %}{% endblock %}
</div>

{% endblock %}
