{% extends 'main_head.html' %}
{% load staticfiles %}
{% block main_view %}

<script>
function clearID() {
  window.location.href = "/clear_id/";
}

$(document).ready(function(){
{% if message %}$("#MesageModal").modal('show');{% endif %}

{% if new_client %}$("#ClientModal").modal('show');{% endif %}
{% if edit_client %}$("#ClientModal").modal('show');{% endif %}
});

var card_string = "{{ card_string }}";
var temp_string = ""; var char_count = 0; var card_start = false;
        
$(document).keypress(function (e) {
  var symb = String.fromCharCode(e.which);

  if (card_start == true) {
    if (char_count != 6) { temp_string += symb; char_count++; event.preventDefault(); }
    else {
      document.getElementById('id').value = temp_string;
      temp_string = ""; char_count = 0; event.preventDefault();
      // some action with id field
      document.getElementById("search_card_id").submit();
    }
  } else {

  // ENTER
    if ( e.keyCode == 13 ) {
  {% if client and abon_active and checked == False %}
       window.location.href = "/lockers/";

  {% elif client and checked == True %}
       window.location.href = "/lockers/checkout/";

  {% elif client %}
       window.location.href = "/subscription/";
  {% endif %}

    }
    if (card_string[char_count] == symb) {
      temp_string += symb;
      if (card_string == temp_string) { temp_string = ""; char_count = 0; card_start = true; }
      event.preventDefault(); char_count++;
    } else { char_count = 0; temp_string = ""; } } });

</script>

<!-- Error ClientModal START -->
<div class="modal fade" id="ClientModal" tabindex="-1" role="dialog" aria-hidden="true">
<div class="modal-dialog" style="margin-top: 100px"><div class="modal-content">
<div class="modal-header">
 <h3 style="margin-top:5px; margin-bottom:5px;">
<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>&nbsp;&nbsp;Paziņojums!</h3>
</div>
<div class="modal-body">
<center>
{% if new_client %}<h4>Jauna klienta kartiņa ir izveidota!</h4>{% endif %}
{% if edit_client %}<h4>Klienta kartiņa ir sekmīgi rediģēta!</h4>{% endif %}
</center>
</div>
<div class="modal-footer">
 <button type="button" class="btn btn-default" data-dismiss="modal">Aizvērt</button>
</form>
</div></div></div></div>
<!-- MesageModal Modal END -->


<!-- Error MesageModal START -->
<div class="modal fade" id="MesageModal" tabindex="-1" role="dialog" aria-hidden="true">
<div class="modal-dialog" style="margin-top: 100px"><div class="modal-content">
<div class="modal-header">
 <h3 style="margin-top:5px; margin-bottom:5px;">
{% if message_type == "error" %}<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>&nbsp;&nbsp;Kļūda!</h3>{% endif%}
{% if message_type == "message" %}<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>&nbsp;&nbsp;Paziņojums!</h3>{% endif%}
</div>
<div class="modal-body">
<center>
{% if message_code_1 %}<h4>Klienta karte nav reģistrēta, ieraksts nav atrasts!</h4>{% endif %}
{% if message_code_2 %}<h4>Klienta karte ir BLOĶĒTA!</h4>{% endif %}
{% if message_code_3 %}<h4>Klients ir bloķēts un atrodas melnajā sarakstā!</h4>{% endif %}

{% if message_code_4 %}<h4>Klienta status ir izmainīts uz <b>{{ client.status }}</b> !</h4>{% endif %}
</center>
</div>
<div class="modal-footer">
 <button type="button" class="btn btn-default" data-dismiss="modal">Aizvērt</button>
</form>
</div></div></div></div>
<!-- MesageModal Modal END -->


<div class="row">
<!-- KOLONA 1 START -->
 <div class="col-sm-7 col-md-7 col-lg-7" style="border: solid green 1px;">
<!-- Search -->
  <div class="row">
    <table class="table">
   <form id="search_card_id" action="/" method=POST>{% csrf_token %}
     <tr>
      <td style="width: 30%; text-align: right; vertical-align: bottom; border: none;"><label>ID:</label></td>
      <td style="border: none;">
       <div class="input-group">
        <input class="form-control" id="id" name="id" size="30" type="text" value="{{ client.id }}">
        <span class="input-group-btn">
          <button class="btn btn-danger" type="button" onclick="clearID();">
          <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></button>
        </span>
      </td>
     </tr>
   </form>
   <form id="search" action="/client/search/" method=POST>{% csrf_token %}
     <tr>
      <td style="width: 30%; text-align: right; vertical-align: bottom; border: none;"><label>Meklēt:</label></td>
      <td style="border: none;">
       <div class="input-group">
        <input class="form-control" id="search" name="search" size="30" type="text">
        <span class="input-group-btn">
         <button class="btn btn-info" type="submit">
         <span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
        </span>
       </div>
      </td>
     </tr>
   </form>
    </table>
  </div>

<script>
$(document).ready(function(){
{% if client and abon_active %}
document.getElementById("avatar").style.borderColor = "green";
{% elif client %}
document.getElementById("avatar").style.borderColor = "red";
{% endif %}
});
</script>

<!-- Klienta info -->
  <div class="row">
   <div class="col-sm-6 col-md-6 col-lg-6">
    <div class="row">

     {% if client %}
       {% if client.avatar != "" %}
       <img id="avatar" src="http://pieraksts.vfabrika.lv:5880/media/{{ client.avatar }}"/>
       {% else %}
       <img id="avatar" src="{% static 'avatar_none.png' %}"/>
       {% endif %}
     {% else %}
     <img id="avatar" src="{% static 'avatar_wait.png' %}"/>
     {% endif %}

    </div>
    <div class="row" style="margin-bottom: 15px; margin-top: 20px; height: 100px;">

     {% if client_locker %}
     <div class="locker" style="margin-left: 20px; {% if client_locker.locker_type == "V" %}background: {{ man_locker_color }};{% else %}background: {{ woman_locker_color }};{% endif %}">
      <h3 class="locker_text">{{ client_locker.number }}</h3>
     </div>
     <div style="float: left;">
      <h4 style="margin-top: 5px;">Iečekojies:</h4>
      <h5 style="margin-left: 15px;">{{ client_locker.checkin_time|date:"Y/m/d H:i" }}</h5>
     </div>
     {% endif %}

    </div>
    <div class="row">
     <center>
      <a href="/lockers/history/">
       <button type="button" class="btn btn-info">Apmeklējumu vēsture</button>
      </a>
     </center>
    </div>
   </div>

   <div class="col-sm-6 col-md-6 col-lg-6" style="border: solid #ccc 1px;">
    <div class="container-fluid" style="background: #d2dff4; border: solid #ccc 1px; margin-bottom: 10px;">
     Informācija par klientu:<br>
{% if client %}<b>{{ client.name}} {{ client.surname }}</b>,{% else %}Vārds, Uzvārds,{% endif %}<br>

{% if client %}<b>{{ client.status }}</b>{% if client.society == True %} <b>(BIEDRĪBA)</b>{% endif %},<br>{% else %}Status,{% endif %}

     Aktīvais abonements,<br>
     palikušo reižu skaits,<br>
     derīguma termiņš,<br>

     <b>Pēdējais apmeklējums:<br>
{% if client and checked == True %} Pašlaik atrodas klubā
{% elif client and last_visit %} {{ last_visit }}
{% elif client %}Datu nav{% endif %}</b><br>

    </div>
   </div>
  </div>

<!-- KOLONA 1 END -->
 </div>



<!-- KOLONA 2 START -->
 <div class="col-sm-5 col-md-5 col-lg-5" style="border: solid red 1px;">
  <a href="/subscription">
   <button type="button" class="btn btn-info" style="margin-top: 8px;">Pirkt abonementu</button>
  </a>

<table class="table table-striped table-condensed" style="margin-top: 20px;">
 <thead>
  <tr style="background: #aaa;">
   <th colspan="2" style="vertical-align: top;">Prece</th>
   <th style="vertical-align: top;">Daudzums</th>
  </tr>
 </thead>
 <tbody>
  <tr>
   <td><input type="checkbox"></td>
   <td>Preces nosaukums</td>
   <td></td>
  </tr>
  <tr>
   <td><input type="checkbox"></td>
   <td>Preces nosaukums</td>
   <td></td>
  </tr>
  <tr>
   <td><input type="checkbox"></td>
   <td>Preces nosaukums</td>
   <td></td>
  </tr>
  <tr>
   <td><input type="checkbox"></td>
   <td>Preces nosaukums</td>
   <td></td>
  </tr>
  <tr>
   <td><input type="checkbox"></td>
   <td>Preces nosaukums</td>
   <td></td>
  </tr>
 </tbody>
</table>

  <a href="#">
   <button type="button" class="btn btn-success pull-right">Apmaksāt</button>
  </a>

<br><br><br><br><br><br>
<br><br><br><br><br><br>

 </div>
</div>
<!-- KOLONA 2 START -->
{% endblock %}
