{% extends 'main_head.html' %}
{% load staticfiles %}
{% block subscription %}

<h3>Abonementu pirkšana</h3>


<div class="row" style="border: solid black 1px;">
<!-- RINDA 1 KOLONA 1-->
 <div class="col-lg-8 col-md-8 col-sm-8" style="border: solid black 1px;">
kolona 1

 </div>

<!-- RINDA 1 KOLONA 2-->
 <div class="col-lg-2 col-md-2 col-sm-2" style="border: solid black 1px;">
kolona 2

 </div>

<!-- RINDA 1 KOLONA 3-->
 <div class="col-lg-2 col-md-2 col-sm-2" style="border: solid black 1px;">
kolona 3

 </div>
</div>

<!-- RINDA 2 -->
<div class="row" style="border: solid black 1px;">
 <div class="col-lg-12 col-md-12 col-sm-12" style="border: solid black 1px;">
rinda 2

 </div>
</div>

<!-- RINDA 3 -->
<div class="row text-right" style="margin-top: 10px;">
 <a href="/subscription_payment/"><button type="button" class="btn btn-success">Pirkt</button></a>
 <a href="#"><button type="button" class="btn btn-danger">Atcelt</button></a>
</div>


{% endblock %}
