{% extends 'main_head.html' %}
{% load staticfiles %}

{% block edit_client %}
<style>
#hider { position: absolute; top: 0px; left: 0px; right: 0px; height: 50px; background: #000; opacity: 0.6; }
</style>

<div id="hider"></div>

<script>
jQuery(document).ready(function($) {
 // IMAGE ADD BUTTON
 $("#avatar").click(function (){
   $(this).parent().find("input").click();
 });
});

// IMAGE PREVIEW
function readURL(input, display) {
  if (input.files && input.files[0]) {
    var reader = new FileReader();
    reader.onload = function (e) {
      $("#" + display)
        .attr("src", e.target.result);
      };
//    $("#" + display).css("display", "block");
    reader.readAsDataURL(input.files[0]);
  }
};
</script>

{% if client.client_blocked == True %}
<div class="alert alert-danger">
 <center><span class="glyphicon glyphicon-ban-circle" aria-hidden="true"> </span><strong> Klients ir bloķēts un atrodas melnajā sarakstā!</strong></center>
</div>
{% endif %}

<form action="/client/edit/" method=POST enctype="multipart/form-data">{% csrf_token %}
<div class="row">
  <div class="col-sm-4 col-md-4 col-lg-4">
   <center>
    {% if client.avatar != "" %}
    <img id="avatar" src="http://pieraksts.vfabrika.lv:5880/media/{{ client.avatar }}" style="margin-top: 30px;"/>
    {% else %}
    <img id="avatar" src="{% static 'avatar_none.png' %}" style="margin-top: 30px;"/>
    {% endif %}
    <input id="id_avatar" type="file" name="avatar" style="display: none" onchange="readURL(this, 'avatar');" style="margin-top: 30px;"/>
   </center>
  </div>

  <div class="col-sm-4 col-md-4 col-lg-4">
   <div class="form-group" style="margin-bottom: 5px;">
    <label id="id_name" for="{{ form.name.id_for_label }}">Vārds:</label>
     {{ form.name }}
     {{ form.name.errors }}
   </div>
   <div class="form-group" style="margin-bottom: 5px;">
    <label id="id_surname" for="{{ form.surname.id_for_label }}">Uzvārds:</label>
     {{ form.surname }}
     {{ form.surname.errors }}
   </div>
   <div class="form-group" style="margin-bottom: 5px;">
    <label id="id_birthday" for="{{ form.birthday.id_for_label }}">Dzimšanas datums:</label>
     {{ form.birthday }}
     {{ form.birthday.errors }}
   </div>
   <div class="form-group" style="margin-bottom: 5px;">
    <label id="id_phone" for="{{ form.phone.id_for_label }}">Tālruņa nummurs:</label>
     {{ form.phone }}
     {{ form.phone.errors }}
   </div>
   <div class="form-group" style="margin-bottom: 5px;">
     <label id="id_e_mail" for="{{ form.e_mail.id_for_label }}">e-pasts:</label>
     {{ form.e_mail }}
     {{ form.e_mail.errors }}
  </div>

  </div>
  <div class="col-sm-4 col-md-4 col-lg-4">
   <div class="form-group" style="margin-bottom: 5px;">
    <label id="id_reg_date" for="id_reg_date">Klienta ID:</label>
    <input class="form-control" id="id_id" name="reg_date" readonly="readonly" type="text" value="{{ client.id }}" />
   </div>
   <div class="form-group" style="margin-bottom: 5px;">
    <label id="id_card_nr" for="{{ form.card_nr.id_for_label }}">Klienta kartes numurs:</label>
     {{ form.card_nr }}
     {{ form.card_nr.errors }}
   </div>
   <div class="form-group" style="margin-bottom: 5px;">
    <label id="id_status" for="{{ form.status.id_for_label }}">Statuss:</label>
    {{ form.status }}
    {{ form.status.errors }}
   </div>
   <div class="form-group" style="margin-bottom: 5px;">
    <label id="id_sex" for="{{ form.sex.id_for_label }}">Dzimums:</label>
    {{ form.sex }}
    {{ form.sex.errors }}
   </div>
   <div class="form-group" style="margin-bottom: 5px;">
    <label id="id_reg_date" for="{{ form.reg_date.id_for_label }}">Reģistrācijas datums:</label>
    {{ form.reg_date }}
    {{ form.reg_date.errors }}
   </div>
  </div>
</div>


<div class="row">
  <div class="col-sm-4 col-md-4 col-lg-4" style="border: solid black 1px; margin-top: 10px;">
Abonements
  </div>
  <div class="col-sm-3 col-md-3 col-lg-3" style="border: solid black 1px; margin-top: 10px;">
Pirkt
  </div>
  <div class="col-sm-5 col-md-5 col-lg-5" style="border: solid black 1px; margin-top: 10px;">
Vesture
  </div>
</div>


<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12" style="margin-top: 10px;">
    <div class="form-group" style="margin-bottom: 5px;">
     <label id="id_notes" for="{{ form.notes.id_for_label }}">Piezīmes:</label>
     {{ form.notes }}
     {{ form.notes.errors }}
   </div>
  </div>
</div>


<script>
var countdown;
var duration = 14;
function submit_changes() {
  clearInterval(countdown);
  document.querySelector("#yes").value = "Izmaiņas tiek apstiprinātas";
}
function cancel(mod) {
  $("#cancel_btn").prop('disabled', 'disabled');
  $("#ok_btn").removeAttr('disabled');
  $("#yes").hide();
  $("#exit").show();
  clearInterval(countdown);
  cancelTimer();
}
function apply(mod) {
  $("#yes").show();
  $("#exit").hide();
  $("#ok_btn").prop('disabled', 'disabled');
  $("#cancel_btn").removeAttr('disabled');
  clearInterval(countdown);
  applyTimer();
}

function applyTimer() {
  display = document.querySelector("#yes");
  display.value ="Apstiprināt izmaiņas ? (15)";
  var timer = duration, seconds = 15;
  countdown = setInterval( function () {
    seconds = parseInt(timer % 60, 10);
    display.value = "Apstiprināt izmaiņas ? (" + seconds + ")"; --timer;
    if (seconds < 1) {
      $("#yes").hide();
      $("#ok_btn").removeAttr('disabled');
      clearInterval(countdown);
    }
  }
  , 1000);
}
function cancelTimer() {
  display = document.querySelector("#exit");
  display.value ="Tiešām atcelt ? (15)";
  var timer = duration, seconds = 15;
  countdown = setInterval( function () {
    seconds = parseInt(timer % 60, 10);
    display.value = "Tiešām atcelt ? (" + seconds + ")"; --timer;
    if (seconds < 1) {
      $("#exit").hide();
      $("#cancel_btn").removeAttr('disabled');
      clearInterval(countdown);
    }
  }
  , 1000);
}
</script>


<div class="row">
  <div class="col-sm-6 col-md-6 col-lg-6 text-left" style="margin-top: 10px;">
     <a href="/"><input class="btn btn-danger" value="Tiešām atcelt ? (15)" style="display: none;" id="exit"></a>
     <input class="btn btn-danger" type="submit" value="Apstiprināt izmaiņas ? (15)" style="display: none;" id="yes" onclick="submit_changes();">
  </div>
  <div class="col-sm-6 col-md-6 col-lg-6 text-right" style="margin-top: 10px;">
     <button type="button" id="ok_btn" class="btn btn-danger" onclick="apply();">Saglabāt</button>
     <button type="button" id="cancel_btn" class="btn btn-info" data-dismiss="modal" onclick="cancel();">Atcelt</button>
  </div>
</div>

</form>
{% endblock %}
