{% extends 'main_head.html' %}
{% block new_client %}
<script>
jQuery(document).ready(function($) {
 // IMAGE ADD BUTTON
 $("#avatar").click(function (){
   $(this).parent().find("input").click();
 });

// document.getElementById("id_reg_date").disabled = true;
// document.getElementById("id_reg_date").readOnly = true;

});

// IMAGE PREVIEW
function readURL(input, display) {
  if (input.files && input.files[0]) {
    var reader = new FileReader();
    reader.onload = function (e) {
      $("#" + display)
        .attr("src", e.target.result);
//        .width(320)
//        .height(240);
      };
//    $("#" + display).css("display", "block");
    reader.readAsDataURL(input.files[0]);
  }
};
</script>


<form action="/client/new/" method=POST enctype="multipart/form-data">{% csrf_token %}
<div class="row" style="border: solid black 1px;">
  <div class="col-sm-4 col-md-4 col-lg-4" style="border: solid black 1px;">
   <center>
    <img id="avatar" src="http://pieraksts.vfabrika.lv/media/treneri/Rebeka_b8QX9h1.JPG"/>
    <input id="id_avatar" type="file" name="avatar" style="display: none" onchange="readURL(this, 'avatar');"/>
   </center>
  </div>
  <div class="col-sm-4 col-md-4 col-lg-4" style="border: solid black 1px;">
   <div class="form-group" style="margin-bottom: 5px;">
    <label id="id_name" for="{{ form.name.id_for_label }}">Vārds:</label>
     {{ form.name }}
     {{ form.name.errors }}
   </div>
   <div class="form-group" style="margin-bottom: 5px;">
    <label id="id_surname" for="{{ form.surname.id_for_label }}">Uzvārds:</label>
     {{ form.surname }}
     {{ form.surname.errors }}
   </div>
   <div class="form-group" style="margin-bottom: 5px;">
    <label id="id_birthday" for="{{ form.birthday.id_for_label }}">Dzimšanas datums:</label>
     {{ form.birthday }}
     {{ form.birthday.errors }}
   </div>
   <div class="form-group" style="margin-bottom: 5px;">
    <label id="id_phone" for="{{ form.phone.id_for_label }}">Tālruņa nummurs:</label>
     {{ form.phone }}
     {{ form.phone.errors }}
   </div>
   <div class="form-group" style="margin-bottom: 5px;">
     <label id="id_e_mail" for="{{ form.e_mail.id_for_label }}">e-pasts:</label>
     {{ form.e_mail }}
     {{ form.e_mail.errors }}
  </div>

  </div>
  <div class="col-sm-4 col-md-4 col-lg-4" style="border: solid black 1px;">
   <div class="form-group" style="margin-bottom: 5px;">
    <label id="id_card_nr" for="{{ form.card_nr.id_for_label }}">Klienta kartes numurs:</label>
     {{ form.card_nr }}
     {{ form.card_nr.errors }}
   </div>
   <div class="form-group" style="margin-bottom: 5px;">
    <label id="id_status" for="{{ form.status.id_for_label }}">Statuss:</label>
    {{ form.status }}
    {{ form.status.errors }}
   </div>
   <div class="form-group" style="margin-bottom: 5px;">
    <label id="id_sex" for="{{ form.sex.id_for_label }}">Dzimums:</label>
    {{ form.sex }}
    {{ form.sex.errors }}
   </div>
   <div class="form-group" style="margin-bottom: 5px;">
    <label id="id_reg_date" for="{{ form.reg_date.id_for_label }}">Reģistrācijas datums:</label>
    {{ form.reg_date }}
    {{ form.reg_date.errors }}
   </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12" style="border: solid black 1px; margin-top: 10px;">
    <div class="form-group" style="margin-bottom: 5px;">
     <label id="id_notes" for="{{ form.notes.id_for_label }}">Piezīmes:</label>
     {{ form.notes }}
     {{ form.notes.errors }}
   </div>
  </div>
</div>

<script>
var countdown;
function submit_changes() {
  clearInterval(countdown);
  document.querySelector("#yes").value = "Izmaiņas tiek apstiprinātas";
}
function cancel(mod) {
  $("#yes").hide();
  $("#ok").show();
  $("#exit").show();
  clearInterval(countdown);
}
function apply(mod) {
  $("#yes").show();
  $("#ok").hide();
  var slidetime = 14,
  display = document.querySelector("#yes");
  startTimer(slidetime, display);
}
function startTimer(duration, display) {
  var timer = duration, seconds = 15;
  countdown = setInterval( function () {
    seconds = parseInt(timer % 60, 10); 
    display.value = "Apstiprināt izmaiņas (" + seconds + ") ?";
    --timer;
    if (seconds < 1) {
      $("#yes").hide();
      $("#ok").show();
      clearInterval(countdown);
    }
  }
  , 1000);
}
</script>


<div class="row">
  <div class="col-sm-6 col-md-6 col-lg-6 text-left" style="border: solid black 1px; margin-top: 10px;">
     <a href="/"><input class="btn btn-danger" value="Tiešām atcelt ?" style="display: none;" id="exit"></a>
     <input class="btn btn-danger" type="submit" value="Apstiprināt izmaiņas (15) ?" style="display: none;" id="yes" onclick="submit_changes();">
  </div>
  <div class="col-sm-6 col-md-6 col-lg-6 text-right" style="border: solid green 1px; margin-top: 10px;">
     <button type="button" class="btn btn-danger" onclick="apply();" id="ok">Saglabāt</button>
     <button type="button" class="btn btn-info" data-dismiss="modal" onclick="cancel();">Atcelt</button>
  </div>
</div>

</form>
{% endblock %}
